section {
  margin: 10px 5px 100px 20px;
}
#volume {
  margin: 10px 5px 30px 20px;
}
#botoes {
  margin: 10px 5px 30px 20px;
}
#captura_dados {
  margin-left: 50%;
}
#Title {
  text-align: center;
}
#kinetics {
  margin-left: 10%;
}
